.container {
  width: 100%;
  border-bottom: 1px solid var(--gray-line);
  background: rgba(0, 0, 0, 0.01);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container div {
  display: flex;
  align-items: center;
}

.container button {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 4px;
  background: transparent;
  color: var(--text);
  font-weight: 600;
  text-transform: uppercase;

  transition: background-color 0.2s;
}
.container button:not(:disabled):hover {
  background: var(--white);
}

.container img {
  height: 3.5rem;
}